@font-face {
  font-family: visby;
  src: url(../font/visby.otf);
}

body {
  margin: 0;
  font-family: visby;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
  display: inline-flex;
  margin: 10px;
  padding: 20px;

}